<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>recherche laboratoire par son nom</title>
  </head>
  <body>
    <h2>Recherche d'un laboratoire précis.</h2>
    {% if rien %}
    Aucun laboratoire n'est enregistré
    {% else %}
    <form action = "{% url 'index45' %}", method="get", name="search_form">
      {% csrf_token %}
      <div>
        <label for="laboratoire">Nom du laboratoire : </label>
        <input type="text" name="laboratoire">
        {{form.laboratoire}}
      </div>
      <h2> </h2>
      <button type="submit" value="Rechercher">Rechercher</button>
    </form>
    {% endif %}
    <h6> </h6>
    <button onclick="window.location.href = 'http://127.0.0.1:8000/accueil_recherche_laboratoires';">Retour au choix de recherche </button>
    <button onclick="window.location.href = 'http://127.0.0.1:8000/accueil_laboratoires';">Retour à la page d'accueil des laboratoires </button>
    <button onclick="window.location.href = 'http://127.0.0.1:8000';">Retour à la page d'accueil </button>
  </body>
</html>