<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>resultat dates histogramme</title>
        <style>
    
            #body{
                    background-image: url("https://static.vecteezy.com/ti/vecteur-libre/p3/16084083-fond-d-ecran-medical-bleu-moderne-icones-medicales-futuristes-forme-hexagonale-geometrique-vectoriel.jpg");
                    background-size: 1580px;
                    background-position: left 5% right 35% bottom 88%;
                    image-rendering: pixelated;
                }
        </style>
      </head>
<body>
    <button onclick="window.location.href = 'http://127.0.0.1:8000/entree_dates_histogramme';">Effectuer une nouvelle recherche </button>
    <button onclick="window.location.href = 'http://127.0.0.1:8000';">Retour à la page d'accueil </button>
    <img src="{% '/index61/' %}" alt="Graphique Matplotlib" style="width: 800px; height: 600px;">
</body>
</html>