<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>resultat dates histogramme</title>
        <style>
    
            #body{
                    background-image: url("https://static.vecteezy.com/ti/vecteur-libre/p3/16084083-fond-d-ecran-medical-bleu-moderne-icones-medicales-futuristes-forme-hexagonale-geometrique-vectoriel.jpg");
                    background-size: 1580px;
                    background-position: left 5% right 35% bottom 88%;
                    image-rendering: pixelated;
                }
        </style>
      </head>
<body id="body">
	<img src="/index61/" alt="Graph">
</body>
</html>