<!DOCTYPE html>
<html>
  <head>
    <title>Mon histogramme</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <canvas id="myChart"></canvas>
    <script>
      // Récupérer les données à partir de votre modèle Django
      const dates = JSON.parse('{{ dates }}');
      const counts =JSON.parse('{{ counts }}');

      // Créer le graphique avec Chart.js
      const ctx = document.getElementById('myChart').getContext('2d');
      const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: dates,
          datasets: [{
            label: 'Nombre',
            data: counts,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                unit: 'day'
              },
              scaleLabel: {
                display: true,
                labelString: 'Date'
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true
              },
              scaleLabel: {
                display: true,
                labelString: 'Nombre'
              }
            }]
          },
          title: {
            display: true,
            text: 'Histogramme de dates'
          }
        }
      });
    </script>
  </body>
</html>
